body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

h1{
  text-align: center;
  color:dimgray;
}
label{
  color: dimgray;
}

button{
  margin-left: 47%;
  margin-top: 10px;
  border-radius: 5px;
  border-color: dimgray;
}

.form-control{
  margin-top: 5px;
  margin-bottom: 5px;
}